<%= form_with(model: syuusyoku) do |form| %>
  <% if syuusyoku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(syuusyoku.errors.count, "error") %> prohibited this syuusyoku from being saved:</h2>

      <ul>
        <% syuusyoku.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'学校名' %>
    <%= form.text_field :gakkoumei %>
  </div>

  <div class="field">
    <%= form.label :'学科名' %>
    <%= form.select :gakka_id, Gakka.all.map { |b| [b.gakkamei, b.id] } %>
  </div>

  <div class="field">
    <%= form.label :'県内' %>
    <%= form.check_box :kennai %>
  </div>

  <div class="field">
    <%= form.label :'学校HP' %>
    <%= form.text_field :shp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
