<%= form_with(model: syuusyoku) do |form| %>
  <% if syuusyoku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(syuusyoku.errors.count, "error") %> prohibited this syuusyoku from being saved:</h2>

      <ul>
        <% syuusyoku.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gakkoumei %>
    <%= form.text_field :gakkoumei %>
  </div>

  <div class="field">
    <%= form.label :gakka_id %>
    <%= form.text_field :gakka_id %>
  </div>

  <div class="field">
    <%= form.label :kennai %>
    <%= form.text_field :kennai %>
  </div>

  <div class="field">
    <%= form.label :shp %>
    <%= form.text_field :shp %>
  </div>

  <div class="field">
    <%= form.label :hyoutei %>
    <%= form.text_field :hyoutei %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
