<p id="notice"><%= notice %></p>

<h1>Syuusyokus</h1>

<table>
  <thead>
    <tr>
      <th>Gakkoumei</th>
      <th>Gakka</th>
      <th>Kennai</th>
      <th>Shp</th>
      <th>Hyoutei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syuusyokus.each do |syuusyoku| %>
      <tr>
        <td><%= syuusyoku.gakkoumei %></td>
        <td><%= syuusyoku.gakka_id %></td>
        <td><%= syuusyoku.kennai %></td>
        <td><%= syuusyoku.shp %></td>
        <td><%= syuusyoku.hyoutei %></td>
        <td><%= link_to 'Show', syuusyoku %></td>
        <td><%= link_to 'Edit', edit_syuusyoku_path(syuusyoku) %></td>
        <td><%= link_to 'Destroy', syuusyoku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syuusyoku', new_syuusyoku_path %>
