<p id="notice"><%= notice %></p>

<h1>進学先詳細</h1>

<p>
  <strong>学校名:</strong>
  <%= @syuusyoku.gakkoumei %>
</p>

<p>
  <strong>学科名:</strong>
  <%= @syuusyoku.gakka.gakkamei %>
</p>

<p>
  <strong>県内:</strong>
  <%= @syuusyoku.kennai %>
</p>

<p>
  <strong>学校HP:</strong>
  <%= link_to @syuusyoku.shp,target:"_blank" do %> 
    <i class="@syuusyoku.shp"></i><%= @syuusyoku.shp %></a>
    <% end %>
</p>

<%= link_to '進学先情報更新', edit_syuusyoku_path(@syuusyoku) %> |
<%= link_to '進学先一覧', syuusyokus_path %>
