<p id="notice"><%= notice %></p>

<h1>Kyoukas</h1>

<table>
  <thead>
    <tr>
      <th>Gakunen</th>
      <th>Senkou</th>
      <th>Namae</th>
      <th>Narabi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kyoukas.each do |kyouka| %>
      <tr>
        <td><%= kyouka.gakunen %></td>
        <td><%= kyouka.senkou %></td>
        <td><%= kyouka.namae %></td>
        <td><%= kyouka.narabi %></td>
        <td><%= link_to 'Show', kyouka %></td>
        <td><%= link_to 'Edit', edit_kyouka_path(kyouka) %></td>
        <td><%= link_to 'Destroy', kyouka, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kyouka', new_kyouka_path %>
