<p id="notice"><%= notice %></p>

<p>
  <strong>Gakunen:</strong>
  <%= @kyouka.gakunen %>
</p>

<p>
  <strong>Senkou:</strong>
  <%= @kyouka.senkou %>
</p>

<p>
  <strong>Namae:</strong>
  <%= @kyouka.namae %>
</p>

<p>
  <strong>Narabi:</strong>
  <%= @kyouka.narabi %>
</p>

<%= link_to 'Edit', edit_kyouka_path(@kyouka) %> |
<%= link_to 'Back', kyoukas_path %>
