<p id="notice"><%= notice %></p>

<p>
  <strong>学年:</strong>
  <%= @kyouka.gakunen %>
</p>

<p>
  <strong>専攻:</strong>
  <%= @kyouka.senkou %>
</p>

<p>
  <strong>教科名:</strong>
  <%= @kyouka.namae %>
</p>

<p>
  <strong>並び:</strong>
  <%= @kyouka.narabi %>
</p>

<%= link_to '編集', edit_kyouka_path(@kyouka) %> |
<%= link_to '戻る', kyoukas_path %>
