<p id="notice"><%= notice %></p>

<%= link_to 'ホーム画面', home_top_path %>

<h1>学科一覧</h1>

<%= link_to '進学先一覧', syuusyokus_path %>

<table border="1">
  <thead>
    <tr>
      <th>学科名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gakkas.each do |gakka| %>
      <tr>
        <td><%= gakka.gakkamei %></td>
        <td><%= link_to '詳細', gakka %></td>
        <td><%= link_to '更新', edit_gakka_path(gakka) %></td>
        <td><%= link_to '削除', gakka, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '学科追加', new_gakka_path %>
