<p id="notice"><%= notice %></p>

<p>
  <strong>Sinrosaki:</strong>
  <%= @sindan.sinrosaki %>
</p>

<p>
  <strong>Kennai:</strong>
  <%= @sindan.kennai %>
</p>

<p>
  <strong>Syokusyu:</strong>
  <%= @sindan.syokusyu %>
</p>

<p>
  <strong>Hyoutei:</strong>
  <%= @sindan.hyoutei %>
</p>

<%= link_to 'Edit', edit_sindan_path(@sindan) %> |
<%= link_to 'Back', sindans_path %>
