<%= form_with(model: syokusyu) do |form| %>
  <% if syokusyu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(syokusyu.errors.count, "error") %> prohibited this syokusyu from being saved:</h2>

      <ul>
        <% syokusyu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'職種名' %>
    <%= form.text_field :syokusyumei %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
