<p id="notice"><%= notice %></p>

<h1>Syokusyus</h1>

<table>
  <thead>
    <tr>
      <th>Syokusyumei</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @syokusyus.each do |syokusyu| %>
      <tr>
        <td><%= syokusyu.syokusyumei %></td>
        <td><%= link_to 'Show', syokusyu %></td>
        <td><%= link_to 'Edit', edit_syokusyu_path(syokusyu) %></td>
        <td><%= link_to 'Destroy', syokusyu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Syokusyu', new_syokusyu_path %>
