<%= form_with(model: kaitou) do |form| %>
  <% if kaitou.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kaitou.errors.count, "error") %> prohibited this kaitou from being saved:</h2>

      <ul>
        <% kaitou.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ユーザ %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :解答 %>
    <%= form.text_area :hentou %>
  </div>

  <div class="field">
    <%= form.label :質問 %>
    <%= form.number_field :situmon_id %>
  </div>

  <div class="field">
    <%= form.label :日時 %>
    <%= form.datetime_select :nitiji %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
