<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :アカウント %>
    <%= form.text_field :akaunto %>
  </div>
  
  <div class="field">
    <%= form.label :パスワード %>
    <%= form.text_field :pasuwado %>
  </div>
  
  <div class="field">
    <%= form.label :学年 %>
    <%= form.number_field :gakunen %>
  </div>

  <div class="field">
    <%= form.label :組 %>
    <%= form.number_field :kumi %>
  </div>

  <div class="field">
    <%= form.label :氏名 %>
    <%= form.text_field :simei %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
