<p id="notice"><%= notice %></p>

<p>
  <strong>Akaunto:</strong>
  <%= @user.akaunto %>
</p>

<p>
  <strong>Pasuwado:</strong>
  <%= @user.pasuwado %>
</p>

<p>
  <strong>Gakunen:</strong>
  <%= @user.gakunen %>
</p>

<p>
  <strong>Kumi:</strong>
  <%= @user.kumi %>
</p>

<p>
  <strong>Simei:</strong>
  <%= @user.simei %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
