<%= form_with(model: kigyou) do |form| %>
  <% if kigyou.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kigyou.errors.count, "error") %> prohibited this kigyou from being saved:</h2>

      <ul>
        <% kigyou.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :'企業名' %>
    <%= form.text_field :kigyoumei %>
  </div>

  <div class="field">
    <%= form.label :'職種名' %>
    <%= form.select :syokusyu_id, Syokusyu.all.map { |b| [b.syokusyumei, b.id] } %>
  </div>

  <div class="field">
    <%= form.label :'県内' %>
    <%= form.check_box :kennnai %>
  </div>

  <div class="field">
    <%= form.label :'企業HP' %>
    <%= form.text_field :khp %>
  </div>

  <div class="field">
    <%= form.label :'評定' %>
    <%= form.text_field :hyoutei %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
