<p id="notice"><%= notice %></p>

<%= link_to 'ホーム画面', home_top_path %>

<h1>企業一覧</h1>

<%= link_to '職種一覧', syokusyus_path %>

<table border="1">
  <thead>
    <tr>
      <th>企業名</th>
      <th>職種名</th>
      <th>県内</th>
      <th>企業HP</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kigyous.each do |kigyou| %>
      <tr>
        <td><%= kigyou.kigyoumei %></td>
        <td><%= kigyou.syokusyu.syokusyumei %></td>
        <td><%= kigyou.kennnai %></td>
        <td><%= kigyou.khp %></td>
        <td><%= link_to '詳細', kigyou %></td>
        <td><%= link_to '更新', edit_kigyou_path(kigyou) %></td>
        <td><%= link_to '削除', kigyou, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '企業追加', new_kigyou_path %>
