<p id="notice"><%= notice %></p>

<h1>企業詳細</h1>

<p>
  <strong>企業名:</strong>
  <%= @kigyou.kigyoumei %>
</p>

<p>
  <strong>職種名:</strong>
  <%= @kigyou.syokusyu.syokusyumei %>
</p>

<p>
  <strong>県内:</strong>
  <%= @kigyou.kennnai %>
</p>

<p>
  <strong>企業HP:</strong>
  <%= link_to @kigyou.khp,target:"_blank" do %> 
    <i class="@kigyou.khp"></i><%= @kigyou.khp %></a>
    <% end %>
</p>

<%= link_to '企業情報更新', edit_kigyou_path(@kigyou) %> 
<%= link_to '企業一覧', kigyous_path %>
