<h1>Editing Situmon</h1>

<%= render 'form', situmon: @situmon %>

<%= link_to 'Show', @situmon %> |
<%= link_to '戻る', new_situmon_path %>

<h1>質問一覧</h1>
<%= render 'list1', situmon: @situmon_singaku %>

<%= render 'list2', situmon: @situmon_syuusyoku %>
