<table>
    <tr>
      th>ユーザ</th>
      <th>内容</th>
      <th>進学・就職</th>
      <th>企業・勉強方法</th>
      <th>日時</th>
      <th colspan="3"></th>
    </tr>
    <tbody>
    <h2>   <%= link_to ' 戻る ', new_situmon_path %> </h2>
        <% @situmons_syuusyoku_benkyou.each do |s| %>
            <tr> 
              <td><%= s.user_id %></td> 
              <td><%= s.naiyou %></td>
            <td><% if s.kategori == 1 %></td>
              <td>就職</td>
            <% else %>
              進学
            <% end %>
            <% if s.kategori2 == 3 %>
             <td>勉強方法</td>
            <% else %>
             <td>企業・学校</td>
            <% end %>
                <td><%= s.nitiji %></td>
                <td><%= link_to '詳細', s %></td>
                <% if teacher? %>
                    <td><%= link_to '削除', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% else %>
                  <td></td>
                  <td></td>
                <% end %>
                </tr>
        <% end %>
    </tbody>
</table>   