<table>
    <tr>
      <th>User</th>
      <th>Naiyou</th>
      <th>Kategori</th>
      <th>Kategori2</th>
      <th>Nitiji</th>
      <th colspan="3"></th>
    </tr>
    <tbody>
    <h2>   <%= link_to ' 戻る ', new_situmon_path %> </h2>
        <% @situmons_syuusyoku_kigyou.each do |s| %>
            <tr> 
              <td><%= s.user_id %></td> 
              <td><%= s.naiyou %></td>
              <td><%= s.kategori %></td>
                <td><%= s.kategori2 %></td>
                <td><%= s.nitiji %></td>
                <td><%= link_to '詳細', s %></td>
                <td><%= link_to '削除', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>   