<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>ユーザ:</strong>
  <%= @situmon.user_id %>
</p>

<p> 
  <strong>内容:</strong>
  <%= @situmon.naiyou %>
</p>


<p>
  <strong>就職・進学:</strong>
  <% if @situmon.kategori == 1 %>
    就職
  <% else %>
    進学
  <% end %>
  
</p>


<p>
  <strong>企業/学校・勉強方法:</strong>
  <% if @situmon.kategori2 == 3 %>
    勉強方法
  <% else %>
    企業・学校
  <% end %>
</p>

<p>
  <strong>日付:</strong>
  <%= @situmon.nitiji %>
</p>

<p><b>返答</p></b>
<%= form_tag('/kaitous') do %>
  <%= hidden_field :kaitou, :situmon_id, :value => @situmon.id %>
  <p>
  <%= text_field :kaitou, :hentou %>
  <%= submit_tag "返答追加" %>
  </p>
<% end %>  

<% @situmon.kaitous.each do |h| %>
    <p>
    <%= h.created_at %>
    <br>
      <td><%= h.hentou %></td>
    </p>
    <td><% if teacher? %></td>
    <td><%= link_to '削除', h, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    <td></td>
    <td></td>
    <% end %>
<% end %>
<br>
<%= link_to '質問へ', new_situmon_path %>
<tr><%= link_to 'プロフィール',edit_user_path(current_user.id) %></tr>