<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<p>
  <strong>ユーザ:</strong>
  <%= @situmon.user_id %>
</p>

<p> 
  <strong>内容:</strong>
  <%= @situmon.naiyou %>
</p>


<p>
  <strong>就職・進学:</strong>
  <% if @situmon.kategori == 1 %>
    就職
  <% else %>
    進学
  <% end %>
  
</p>


<p>
  <strong>企業/学校・勉強方法:</strong>
  <% if @situmon.kategori2 == 3 %>
    勉強方法
  <% else %>
    企業・学校
  <% end %>
</p>

<p>
  <strong>日付:</strong>
  <%= @situmon.nitiji %>
</p>

<p><b>返答</p></b>
<%= form_tag('/kaitous') do %>
  <%= hidden_field :kaitou, :situmon_id, :value => @situmon.id %>
  <p>
  <%= text_field :kaitou, :hentou %>
  <%= submit_tag "返答追加" %>
  </p>
<% end %>  

<% @situmon.kaitous.each do |h| %>
  <p>
  <%= h.created_at %>
  <br>
  <%= h.hentou %>
  </p>
<% end %>


<%= link_to '編集', edit_situmon_path(@situmon) %> |
<%= link_to '戻る', new_situmon_path %>
