<%= form_with(model: seiseki) do |form| %>
  <% if seiseki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seiseki.errors.count, "error") %> prohibited this seiseki from being saved:</h2>

      <ul>
        <% seiseki.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ユーザー %>
    <%= form.label seiseki.user.simei %>
  </div>

  <div class="field">
    <%= form.label :学年 %>
    <%= form.label seiseki.user.gakunen %>
  </div>

  <div class="field">
    <%= form.label :学期 %>
    <%= form.label seiseki.gakki %>
  </div>

  <%= form.fields_for(:tensus) do |tensu| %>
    <div class="field">
     <%= tensu.label tensu.object.kyouka.namae %>
     <%= tensu.number_field :tokuten %>
     <%= tensu.number_field :hyoutei %>
    </div>
    <%= tensu.hidden_field :id %>
  <% end %>

  <div class="field">
    <%= form.label :並び %>
    <%= form.number_field :narabi %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
