<p id="notice"><%= notice %></p>

<h1>1年</h1>
<table border = 1>
<tr>
<td align="center" width="55">学期</td>
  <% @seisekis_1.each do |seiseki| %>
      <% seiseki.tensus.each do |tensu| %>
      <th align="center" width="80"><%= tensu.kyouka.namae %></th>
      <% end %>
      <% break %>
  <% end %>
</tr>
    <% @seisekis_1.each do |seiseki| %>
      <tr>
        <td align="center"><%= seiseki.gakki %>学期</td>
        <% seiseki.tensus.each do |tensu| %>
        <td align="right"><%= tensu.tokuten %><hr><%= tensu.hyoutei %></td>
        <% end %>
      </tr>
    <% end %>
</table>

<h1>2年</h1>
<table border = 1 >
<tr>
<td align="center" width="185">学期</td>
  <% @seisekis_2.each do |seiseki| %>
      <% seiseki.tensus.each do |tensu| %>
      <th align="center" width="200" ><%= tensu.kyouka.namae %></th>
      <% end %>
      <% break %>
  <% end %>
</tr>
    <% @seisekis_2.each do |seiseki| %>
      <tr>
        <td align="center"><%= seiseki.gakki %>学期</td>
        <% seiseki.tensus.each do |tensu| %>
        <td align="right"><%= tensu.tokuten %><hr><%= tensu.hyoutei %></td>
        <% end %>
      </tr>
    <% end %>
</table>

<h1>3年</h1>
<table border = 1>
<tr>
<td align="center" width="150">学期</td>
  <% @seisekis_3.each do |seiseki| %>
      <% seiseki.tensus.each do |tensu| %>
      <th width="200"><%= tensu.kyouka.namae %></th>
      <% end %>
      <% break %>
  <% end %>
</tr>
    <% @seisekis_3.each do |seiseki| %>
      <tr>
        <td align="center"><%= seiseki.gakki %>学期</td>
        <% seiseki.tensus.each do |tensu| %>
        <td align="right"><%= tensu.tokuten %><hr><%= tensu.hyoutei %></td>
        <% end %>
      </tr>
    <% end %>
</table>

<h1>評定平均</h1>
<table border = 1>
  <td align="center" width="60">1年</td>
  <td align="right"><%= Seiseki.hyouteiheikin(@seisekis_1) %></td>
  <tr></tr>
  <td align="center" width="60">2年</td>
  <td align="right"><%= Seiseki.hyouteiheikin(@seisekis_2) %></td>
  <tr></tr>
  <td align="center" width="60">3年</td>
  <td align="right"><%= Seiseki.hyouteiheikin(@seisekis_3) %></td>
</table>
<br>
<% if teacher? %>
 <a href = 'http://localhost:3000/seisekis'> 戻る</a>
 <% else %>
 <td></td>
 <td></td>
<% end %>
<a href = 'http://localhost:3000'> トップページに戻る</a>