<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザー:</strong>
  <%= @seiseki.user_id %>
</p>

<p>
  <strong>学年:</strong>
  <%= @seiseki.gakunen %>
</p>

<p>
  <strong>学期:</strong>
  <%= @seiseki.gakki %>
</p>

<p>
  <strong>教科:</strong>
  <%= @seiseki.kyouka_id %>
</p>

<p>
  <strong>得点:</strong>
  <%= @seiseki.tokuten %>
</p>

<p>
  <strong>並び:</strong>
  <%= @seiseki.narabi %>
</p>

<p>
  <strong>評定:</strong>
  <%= @seiseki.hyoutei %>
</p>

<%= link_to '編集', edit_seiseki_path(@seiseki) %> |
<%= link_to '戻る', seisekis_path %>
